main {
    min-height: 80vh;
}

a:any-link {
    text-decoration: none;
}
a:any-link:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

.list-group-item {
    padding: 0.75rem 1.25rem;
}

.btn-block {
    width: 100%;

}
